<!--
    Wyatt Gray - Assignment 9 - Section 1
    This program builds on Assignment 3. It now uses a Sqlite database to store movies.

-->

@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection!</h1>
    <img src="~/Images/JoelHilton.jpg" width="600" />
    <br />
    <br />
    <input type="button" value="Add Movie" onclick="window.location.href='/Home/NewMovie'" />
</div>

