@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Add a New Movie";
}
@model IS_413_Assignemnt_3.Models.Movie
<form asp-action="NewMovie" method="post" class="">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Category">Category:</label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="Category">
                <option value="">Select One</option>
                <option value="Action/Adventure">Action/Adventure</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
                <option value="Family">Family</option>
                <option value="Horror/Suspense">Horror/Suspense</option>
                <option value="Miscellaneous">Miscellaneous</option>
                <option value="Television">Television</option>
                <option value="VHS">VHS</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Title">Title:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Title" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Year">Year:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Year" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Director">Director:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Director" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Rating">Rating:</label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="Rating">
                <option value="">Select One</option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Edited">Edited:</label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="Edited">
                <option value="">Select One</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="LentTo">Lent To:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="LentTo" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Notes">Notes:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Notes" />
        </div>
    </div>
    <br/>
    <button class="btn btn-success btn-outline-light" type="submit">Add Movie</button>
</form>
